
nav{
    background-color: #EC994B;
    
}

block.body{
    background-color: #EC994B;
}

a.nav-link{
    color: black;
}

label.labelpassword{
    padding-top: 15px;
}

section.row{
    margin-left:150px;
    width: 900px;
    height: 500px;
    border-radius: 10px;
    border-color: black;
    margin-bottom:100px;
}
h2.nomproduit{
    text-align: center;
}

div.metadata{
    text-align: center;
}

article.card{
    padding-bottom: 10px;
}
img.imageshow{
    width: auto;
    height: 400px;
    margin-left: 35px;
}

a.btn-primary{
    margin-left:500px
}

a.btn-sm{
    margin-top: 15px;
    margin-bottom: 15px;
}

article.card.profilcard{
    width: 600px;
    height: 100px;
}

article.card.produitprofil{
    width: 800px;
    height: 540px;
    margin-bottom: 50px;
    background-color: #F1EEE9;
}

img.imageprofil{
    text-align: center;
    width: auto;
    height: 360px;
}

h2.profilnomproduit{
    text-align: center;
    background-color: #EC994B;
}

p.card-text{
    text-align:left;
    margin-left: 10px;
}

h3.profildescriptionproduit{
    text-align:left;
    margin-left: 10px;
}

div.card.cardindex{
    width: 18rem;
    height : 380px;
    background-color: #F1EEE9;
}

img.imageindex{
    width: auto;
    height: 150px;
}

h3.card-header{
    background-color: #EC994B;
}