<h3>Vous l'avez fait ! Vous êtes un membre !</h3>

Bonjour, {{ user.username }}! Vôtre compte à bien été activé.

Vous pouvez désormais vous connecter et effectuer des achats.

To login, go to: <a href="{{ url('app_login') }}">Se connecter</a>.